:root {
    --home-color: #EAFDF8;
    --sub-color: #C3EFFE;
    --text-color: #182825;
    line-height: 1.2em;
}

@media (min-width: 100px) {
    :root {
        --width: max-width;
        --subwidth: max-width;
        --superwidth: max-width;
        --buttonwidth: 300px;
        --scale: 0.8;
        --correction: -300px;
    }

    img {
        width: 100%;
    }
}

@media (min-width: 500px) {
    :root {
        --width: 420px;
        --subwidth: 400px;
        --subsubwidth: 380px;
        --superwidth: 440px;
        --buttonwidth: 440px;
        --scale: 0.9;
        --correction: -200px;
    }

    img {
        width: 420px;
    }
}

header {
    margin-top: -20px
}

body {
    font-family: 'Comfortaa';
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-right: 0em;
    margin-left: 0em;
    padding: 0em;
}

nav {
    margin-right: 0em;
    padding: 0em;
}

.spaced-list>li {
    margin-bottom: 1ex;
    width: var(--subwidth);
}

hr {
    border: 1px solid gray;
    width: 50%;
    margin: auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: var(--home-color);
    color: var(--text-color)
}

a {
    color: #9b4e36;
}

a:visited {
    color: #E26D5C;
}

.fulljustify {
    text-align: justify;
    margin-left: -20px;
}

.fulljustify:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.halfjustify {
    text-align: justify;
    margin-left: -20px;
    width: 85%;
}

.halfjustify:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.incompleteinfo {
    text-align: left;
    margin-left: -20px;
}

.incompleteinfo:after {
    content: "";
    display: inline-block;
    width: 100%;
}

#tagline {
    height: 80px;
    overflow: hidden;
    line-height: 80px;
}

details {
    text-align: justify;
    width: var(--subsubwidth);
}

details>summary {
    padding-left: 0px;
    padding-top: 6px;
    cursor: pointer;
    width: var(--subsubwidth);
}

p {
    padding-top: -1em;
    padding-left: 0px;
    text-align: justify;
    width: var(--width)
}

ol {
    width: var(--subsubwidth);
    margin-left: -20px;
}

ul {
    width: var(--subsubwidth);
}

.scalewell {
    transform: scale(var(--scale));
    margin-top: var(--correction);
    vertical-align:top; /* <---- this */
}

button {
    font-family: 'Comfortaa';
    background-color: var(--sub-color);
    border: none;
    color: var(--text-color);
    text-align: center;
    padding: 20px 0px;
    margin-left: 0px;
    width: var(--buttonwidth);
    cursor: pointer;
}